video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

video:hover .Player-back {
  display: block;
}

.Player-back {
  position: fixed;
  top: 8px;
  left: 8px;

  display: flex;
}

.Player-link {
  padding: 8px 15px;
  text-decoration: none;
  font-size: 18px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
