@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --theme-font: 'Muli', sans-serif;
  --main-color: #1b1a17;
  --secondary-color: #e6b325;
  --purple-color: #8f57fd;
  --white-color: #ffffff;
  --main-gradient: linear-gradient(var(--main-color), var(--secondary-color));
}
