/* 
  1. Posicionamiento
  2. Modelo de caja
  3. Tipografía
  4. Visuales
  5. Otros
*/

@import './Vars.scss';
@import './Media.scss';

body {
  margin: 0;
  font-family: var(--theme-font);
  background: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  height: 50px;
  margin-bottom: 20px;
  padding: 0px 20px;
  font-family: var(--theme-font);
  font-size: 16px;
  color: var(--white-color);
  outline: none;
}
::placeholder {
  color: var(--white-color);
}

.button {
  height: 50px;
  margin: 10px 0;
  font-family: var(--theme-font);
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}
.button:focus {
  outline: 2px solid var(--secondary-color);
}
